In [84]:
from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from cassandra.cqlengine import connection, management, query
from cassandra.cqlengine.connection import log as cql_logger
from config import get_settings
from db import create_session
import pandas as pd

session = create_session()

In [85]:
# Create test_keyspace
session.execute("""
CREATE KEYSPACE IF NOT EXISTS test_keyspace
WITH replication = { 'class': 'SimpleStrategy', 'replication_factor': 1 } 
AND durable_writes = 'true';
""")

for row in (session.execute("describe keyspaces;")):
    print("Keyspace: {}".format(row[0]))

Keyspace: cql_keyspace
Keyspace: system
Keyspace: system_auth
Keyspace: system_distributed
Keyspace: system_schema
Keyspace: system_traces
Keyspace: system_views
Keyspace: system_virtual_schema
Keyspace: test_keyspace

In [86]:
# Drop test_keyspace
session.execute("""DROP KEYSPACE IF EXISTS test_keyspace;""")

for row in (session.execute("describe keyspaces;")):
    print("Keyspace: {}".format(row[0]))

Keyspace: cql_keyspace
Keyspace: system
Keyspace: system_auth
Keyspace: system_distributed
Keyspace: system_schema
Keyspace: system_traces
Keyspace: system_views
Keyspace: system_virtual_schema

In [94]:
# Create a keyspace
session.execute("""
CREATE KEYSPACE IF NOT EXISTS cql_keyspace
WITH replication = { 'class': 'SimpleStrategy', 'replication_factor': 1 } 
AND durable_writes = 'true';
""")

# Create tables in cql_keyspace for employees and car makes
session.execute("CREATE TABLE IF NOT EXISTS cql_keyspace.cars_by_id (id int PRIMARY KEY, make text, model text)")

# Insert a record into each keyspace table
session.execute("INSERT INTO cql_keyspace.cars_by_id (id, make, model) VALUES (1, 'Toyota', 'Camry')")

# Execute a CQL query to retrieve the record from the cars_by_id table
result = session.execute("SELECT * FROM cql_keyspace.employee_by_id WHERE id = 1")

# Convert the result to a Pandas DataFrame
pd.DataFrame(list(result)).head()

   id firstname surname
0   1      John     Doe